<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Capture</title>

    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">

    <script src="/static/highcharts/js/highcharts.js"></script>

    <script src="/static/daterangepicker/moment.js"></script>
    <script src="/static/daterangepicker/daterangepicker.js"></script>
    <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css">
    <style>
    .chart-nav-btn a { padding:1px 2px; border-radius:3px; margin-right:5px; }
    .chart-nav-btn .current { background:#337ab7; color:#ffffff; }
    .chart-title { text-align:center; font-size:18px; font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif; margin:5px 0 0 15px; white-space:nowrap; }
    .chart-stat { text-align:center; font-size:12px; font-family:"Lucida Sans Unicode"; margin:8px 0 5px 0; white-space:nowrap; }
    </style>
</head>
<body>
<h1 style="text-align:center;color:red;"><?php echo $config['title']; ?></h1>
<h3 style="text-align:center;"><?php echo date('Y-m-d H:i:s'); ?></h3>

{% for key, item in viewpoints %}
<div>
    <iframe src="/monitor/chart?markId={{item['id']}}&name={{urlencode(item['points'])}}&step={{item['merge']}}&start={{item['starttime']}}&show_toolbar=0&height=300" width="100%" height="400" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
{% endfor %}

</body>
</html>
