<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>异常</title>

    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="/">首页</a></li>
        </ul>
    </div>
</nav>

<div class="container small">
    <div class="alert alert-danger" role="alert">
        <b>{{message}}</b>
    </div>
</div>

</body>
</html>
